<div class="modal-content">
    <!-- start modal header -->
    <div class="modal-header">
        <div class="modal-title h4 dft-title-popup w-100 d-flex justify-content-between"
             id="example-modal-sizes-title-lg">
            <ng-container *ngIf="id">Cập nhật</ng-container>
            <ng-container *ngIf="!id">Thêm mới</ng-container>
            Nhóm dịch vụ
        </div>
        <div class="modal-title">
            <mat-icon class="btn-close" (click)="closeModal()">close</mat-icon>
        </div>
    </div>

    <!-- Form   -->
    <div class="overlay overlay-block cursor-default modal-body">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="formGroup">
            <form [formGroup]="formGroup">
                <ng-container class="row">
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="form-label">Tên nhóm dịch vụ <span style="color: red;">*</span></label>
                            <input type="text" class="form-control form-control-lg form-control-sm form-control-solid"
                                   formControlName="name"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="form-label">Số ngày lưu trữ<span style="color: red;">*</span></label>
                            <input type="text" class="form-control form-control-lg form-control-sm form-control-solid"
                                   formControlName="maxDayStorage"/>
                        </div>
                    </div>

                    <div class="form-group row" formArrayName="clServiceOptionDtos">
                        <div class="col-12"
                             *ngFor="let e of formGroup.get('clServiceOptionDtos')['controls'], let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="col-4">
                                    <label>Độ phân giải<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control form-control-solid form-control-lg"
                                           formControlName="resolution"
                                    />
                                </div>
                                <div class="col-8">
                                    <label>Giá tiền (VND)<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control form-control-solid form-control-lg"
                                           placeholder="Giá tiền (VND)"
                                           formControlName="price"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 ">Trạng thái</div>
                    <div class="form-group col-xl-12 ">
                        <mat-slide-toggle formControlName="active">
                            {{formGroup.get('active').value === true ? 'Kích hoạt' : 'Hủy kích hoạt'}}
                        </mat-slide-toggle>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="form-label">Ghi chú</label>
                            <textarea type="text"
                                      class="form-control form-control-solid form-control-lg overflow-hidden"
                                      name="note"
                                      placeholder="Ghi chú"
                                      formControlName="note">
                            </textarea>
                        </div>
                    </div>
                </ng-container>

                <div class="modal-footer dft-form-control justify-content-center">
                    <button type="button"
                            class="btn btn-light btn-elevate mr-2"
                            (click)="modal.dismiss()"
                    >
                        Huỷ
                    </button>
                    <ng-container>
                        <button type="submit"
                                class="btn btn-primary btn-elevate"
                                [disabled]="formGroup.invalid"
                                (click)="save()"
                        >
                            Lưu
                        </button>
                    </ng-container>
                </div>
            </form>
        </ng-container>
    </div>


</div>
